@page
@using System
@using System.Collections.Generic
@using System.Linq
@model AuthorizationServer.WebUI.Pages.Applications.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OpenIddictApplication</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.ConsentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.ConsentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.DisplayNames)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.DisplayNames)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.Permissions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.Permissions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.PostLogoutRedirectUris)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.PostLogoutRedirectUris)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.Properties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.Properties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.RedirectUris)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.RedirectUris)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.Requirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.Requirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenIddictApplication.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenIddictApplication.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OpenIddictApplication.ClientId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
